*.pyc
.DS_Store
._*
*.wpr
*~
*.log
*.swp
*.swo
\#*#
.idea
plaid_site.egg-info/
/plaid_site/plaid_site/sphinx/build/html/_static
/plaid_site/plaid_site/sphinx/build/html/_images
/plaid_site/sphinx/build/doctrees/environment.pickle
/plaid_site/sphinx/build/html/objects.inv
/plaid_site/sphinx/build/doctrees
/plaid_site/sphinx/build/html
/plaid_site/sphinx/build

plaid_site/sphinx/source/plaidxl/getting_started\.sublime-workspace

.devspace