faker==1.0.0
gevent
numpy
pika==1.1.0
psycopg2-binary==2.7.6.1
python-libmagic
python-magic==0.4.15
recommonmark
simplejson==3.16.0
sphinx
sphinx_sitemap
sphinx-autobuild
sphinx-rtd-theme >= 0.2.4
sphinxcontrib-fulltoc
sphinxcontrib-websupport
sphinxcontrib.httpdomain
sqlalchemy-utils==0.33.5
sqlalchemy-views==0.2.2
sqlalchemy==1.3.10
toolz==0.9.0
tornado
unicodecsv==0.14.1